<ul class="accordion" role="tablist" aria-multiselectable="true">
  <li>
    <a role="tab" id="accordian-0" href="javascript:void(0)" class="js-accordion-trigger">Accordion Item</a>
    <ul role="tabpanel" aria-labelledby="accordian-0" aria-hidden="true" class="submenu">
      <li>
        <a href="javascript:void(0)">Sub Item 1</a>
      </li>
      <li>
        <a href="javascript:void(0)">Sub Item 2</a>
      </li>
    </ul>
  </li>
  <li>
    <a role="tab" id="accordian-1" href="javascript:void(0)" class="js-accordion-trigger">Another Item</a>
    <ul class="submenu" aria-labelledby="accordian-1" aria-hidden="true">
      <li>
        <a href="javascript:void(0)">Sub Item 1</a>
      </li>
      <li>
        <a href="javascript:void(0)">Sub Item 2</a>
      </li>
    </ul>
  </li>
</ul>
